<% content_for(:title) { @movie.title } %>

<h2 class="title is-3"><%= @movie.title %></h2>
<p>
  <strong>Description: </strong>
  <%= @movie.description %>
</p>

<progress class="progress is-primary, mt-5" value="<%= @movie.average_vote %>" max=10>
  This movie got a rating of <%= @movie.average_vote %> out of 10.
</progress>

<p>
  <strong>Average Vote: </strong>
  <%= @movie.average_vote %>
</p>
<p>
  <strong>Year: </strong>
  <%= @movie.year %>
</p>
<p>
  <strong>Duration: </strong>
  <%= @movie.duration %>
</p>
<p>
  <strong>Production Company: </strong>
  <%= link_to @movie.production_company.name, @movie.production_company %>
</p>
